<%- include('template/head.ejs') %>

<div id="app">
    <input type="hidden" id="name" value="<%= titulo %>">
</div>

<div class="container">

<% for(i=0; i < personas.length; i++)  {%>
    <div class="card">
        <img src="<%= personas[i].imagen %>" alt="Avatar">
        <div class="texto" data-id="<%= personas[i].id %>">
            <h4><b><%= personas[i].name %></b></h4>
            <p><%= personas[i].profesion%></p>

        </div>
    </div>
<% } %>
</div>
<script type="text/javascript" src="/components/card/main.js"></script>

<%- include('template/footer.ejs') %>